<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohgiraffers.com.boardver3.BoardV3Mapper">
    <resultMap id="boardResultMap" type="com.ohgiraffers.com.boardver3.BoardV3DTO">
        <id property="boardId" column="board_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="userActive" column="user_active"/>
        <result property="adminActive" column="admin_active"/>
    </resultMap>
    <resultMap id="postResultMap" type="com.ohgiraffers.com.boardver3.PostV3DTO">
        <id property="postId" column="post_id"/>
        <result property="boardId" column="board_id"/>
        <result property="authorId" column="author_id"/>
        <result property="password" column="password"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="viewCount" column="view_count"/>
        <result property="ipHash" column="ip_hash"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>
    <resultMap id="commentResultMap" type="com.ohgiraffers.com.boardver3.CommentV3DTO">
        <id property="commentId" column="comment_id"/>
        <result property="postId" column="post_id"/>
        <result property="authorId" column="author_id"/>
        <result property="password" column="password"/>
        <result property="content" column="content"/>
        <result property="ipHash" column="ip_hash"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findAllBoards" resultMap="boardResultMap">
        SELECT
        board_id,
        name,
        description
        FROM board_v3
        ORDER by board_id
    </select>
    <select id="findAllPosts" resultMap="postResultMap">
        SELECT
        post_id,
        board_id,
        author_id,
        password,
        title,
        content,
        view_count,
        ip_hash,
        created_at,
        updated_at
        FROM post_v3
        ORDER by post_Id
    </select>
    <select id="findAllComments" resultMap="commentResultMap">
    SELECT
    comment_id,
    post_id,
    author_id,
    password,
    content,
    ip_Hash,
    created_at,
    updated_at
    FROM comment_v3
    ORDER by comment_id
    </select>
    <select id="findOneBoard" resultMap="boardResultMap">
        SELECT
        board_id,
        name,
        description
        FROM board_v3
        WHERE board_id = #{boardId}
    </select>
    <select id="findOnePost" resultMap="postResultMap">
        SELECT
        post_id,
        board_id,
        author_id,
        password,
        title,
        content,
        view_count,
        ip_hash,
        created_at,
        updated_at
        FROM post_v3
        WHERE post_id = #{ postId }
    </select>
    <select id="findOneComment" resultMap="commentResultMap">
        SELECT
        comment_id,
        post_id,
        author_id,
        password,
        content,
        ip_Hash,
        created_at,
        updated_at
        FROM comment_v3
        WHERE comment_id= #{ comment_id }
    </select>
    <insert id="addNewPost" parameterType="com.ohgiraffers.com.boardver3.PostV3DTO">
        INSERT INTO post_v3
        (
        board_id,
        author_id,
        password,
        title,
        content,
        view_count,
        ip_hash,
        created_at,
        updated_at
        )
        VALUES
        (
        #{ boardId }
        ,#{ authorId }
        ,#{ password }
        ,#{ title }
        ,#{ content }
        ,#{ viewCount }
        ,#{ ipHash }
        ,#{ createdAt }
        ,#{ updatedAt }
        )
    </insert>
    <insert id="addNewComment" parameterType="com.ohgiraffers.com.boardver3.CommentV3DTO">
        INSERT INTO comment_v3
        (
        post_id,
        author_id,
        password,
        content,
        ip_hash,
        created_at,
        updated_at
        )
        VALUES
        (
        #{ postId }
        ,#{ authorId }
        ,#{ password }
        ,#{ content }
        ,#{ ipHash }
        ,#{ createdAt }
        ,#{ updatedAt }
        )
    </insert>
    <update id="updatePost" parameterType="com.ohgiraffers.com.boardver3.PostV3DTO">
        UPDATE post_v3
        SET title= #{ title },
        content= #{ content },
        updated_at= #{ updatedAt }
        WHERE post_id= #{ postId }
        AND author_id= #{ authorId }
        AND password= #{ password }
    </update>
    <delete id="deletePost" parameterType="com.ohgiraffers.com.boardver3.PostV3DTO">
        DELETE FROM post_v3
        WHERE post_id= #{ postId }
        AND author_id= #{ authorId }
        AND password= #{ password }
    </delete>
    <update id="updateComment" parameterType="com.ohgiraffers.com.boardver3.CommentV3DTO">
        UPDATE comment_v3
        SET content= #{ content },
        updated_at= #{ updatedAt }
        WHERE comment_id= #{ commentId }
        AND author_id= #{ authorId }
        AND password= #{ password }
    </update>
    <delete id="deleteComment" parameterType="com.ohgiraffers.com.boardver3.CommentV3DTO">
        DELETE FROM comment_v3
        WHERE comment_id= #{ commentId }
        AND author_id= #{ authorId }
        AND password= #{ password }
    </delete>
</mapper>