<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
    </script>
</head>
<body>
<h3>POST : /comment/update</h3>
<form action="/comment/update" method="post">
    <label>댓글ID : </label><input type="text" name="commentId"><br>
    <label>작성자ID : </label><input type="text" name="authorId"><br>
    <label>비밀번호 : </label><input type="password" name="password"><br>
    <label>내용 : </label>
    <textarea name="content" rows="5" cols="50"></textarea><br>
    <button type="submit">POST 댓글수정</button>
</form>
</body>
</html>