<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>너도미사</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
    <div class="logo">너도미사</div>

    <nav class="menu1" style="display: flex; gap: 20px;">
        <a href="/layout/home" style="color: white;">홈</a>
        <div th:each="board : ${boardV3DTOs}" style="display: flex; flex-direction: column;">
            <a th:href="@{'/layout/' + ${board.boardId}}"
               th:text="${board.name}"
               style="color: white; text-decoration: none; font-weight: 500;"></a>
        </div>
    </nav>
</header>
<main id="page-content">
    <div style="margin-top: 30px;">
        <a th:href="@{'/layout/post/add/' + ${boardId}}">
            <button>글쓰기</button>
        </a>
    </div>

    <table class="centered">
        <tr>
            <th>게시판ID</th>
            <th>제목</th>
            <th>작성자</th>
        </tr>
        <tr th:each="post : ${postV3DTOs}">
            <td th:text="${post.postId}"></td>
            <td>
                <a th:href="@{'/layout/post/' + ${post.postId}}" th:text="${post.title}"></a>
            </td>
            <td th:text="${post.authorId}"></td>
            <td>
                <a th:href="@{'/layout/post/update/' + ${post.postId}}">
                    <button>수정</button>
                </a>
                <a th:href="@{'/layout/post/delete/' + ${post.postId}}">
                    <button>삭제</button>
                </a>
            </td>
        </tr>
    </table>
</main>
<footer id="page-footer">
    <p>&copy; 2025 JeongHoon Corp. 모든 권리 보유.</p>
</footer>
</body>
</html>
