<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<form th:action="@{'/layout/post/comment/delete/' + ${commentId}}" method="post">
    <input type="hidden" name="postId" th:value="${postId}" />
    <label>아이디: </label><input type="text" name="authorId"><br>
    <label>비밀번호: </label><input type="password" name="password"><br>
    <button type="submit">POST 글 삭제</button>
</form>
</body>
</html>