<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
    </script>
</head>
<body>
<h3>POST : /post/add</h3>
<form th:action="@{'/boardv3/add/' + ${boardId}}" method="post">

    <label>게시판 선택:</label>
    <select name="boardId">
        <option value="1">공지사항</option>
        <option value="2">자유게시판</option>
        <option value="3">질문게시판</option>
        <option value="4">문서게시판</option>
        <option value="5">후기게시판</option>
        <option value="6">사진게시판</option>
    </select><br>
    <label>작성자ID : </label><input type="text" name="authorId"><br>
    <label>비밀번호 : </label><input type="password" name="password"><br>
    <label>제목 : </label><input type="text" name="title"><br>
    <label>내용 : </label>
    <textarea name="content" rows="5" cols="50"></textarea><br>
    <button type="submit">POST 글작성</button>
</form>
</body>
</html>